<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-common" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>Common</name>
	<js-module name="Common" src="www/Common.js">
		<clobbers target="navigator.Common" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="Common">
				<param name="android-package" value="com.castrol.common.Common" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"></config-file>
		<source-file src="src/android/Common.java" target-dir="src/com/castrol/common" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="Common">
				<param name="ios-package" value="Common" />
			</feature>
		</config-file>
		<source-file src="src/ios/Common.m" />
	</platform>
	
</plugin>